@model WebApplication3.Models.Employee
@{

}

<h1 class="text-center fw-bold">Employee Details</h1>
<div class="container border">
	<p>Name: @Model.Name</p>
	<p>Email: @Model.Email</p>
	<p>EmployeeId: @Model.EmployeeId</p>
	<p>Salary: @Model.Salary</p>
	<p>JobLocation: @Model.JobLocation</p>
</div>
